node_red_flows/flows.json
[{"id":"ccf5f1207c37dfe4","type":"tab","label":"TestingFlowEMinem2","disabled":false,"info":"","env":[]},{"id":"e8973878b3c860e9","type":"tab","label":"Strømpriser","disabled":false,"info":"","env":[]},{"id":"5912af1621c478c3","type":"tab","label":"Testflow Local","disabled":false,"info":"","env":[]},{"id":"5912af1621c478c3","type":"tab","label":"Testflow integration","disabled":false,"info":"","env":[]},{"id":"89874c9f719acdcc","type":"group","z":"e8973878b3c860e9","name":"","style":{"fill":"none","label":true,"stroke":"#0070c0"},"nodes":["fd9122da25f00139","8b3fdaee2f8e7cad","40a89595f1177377","19d912fb4309277a","a9c532ad1e08adcb","5c3f1b5920bfdfdc"],"x":34,"y":359,"w":1312,"h":142},{"id":"d2392c17027ce3a7","type":"group","z":"e8973878b3c860e9","name":"","style":{"fill":"none","label":true,"stroke":"#92d04f"},"nodes":["89776deda2d39d26","faad74cd38b0a57e","fb93eb8a142ed051","f060bf67fcd35c9e","774e2c31df59e76d","f6c6ab4571862c91","ad9dcbe3329323d2","602c26d54f8674d8","e1017805989b109a"],"x":34,"y":519,"w":1312,"h":262},{"id":"cf5a765f708c1dbd","type":"group","z":"e8973878b3c860e9","name":"","style":{"stroke":"#92d04f","fill":"none","label":true},"nodes":["4a8aac6bd784a48d","d0e5c51b2184d29c","e709948d1a37ee72","282f6ebc5e09229a","ad56133b59b7ae48","78f5fd3ca8721149","f12b9037e46bd0a5","614930a497ab26ef","ec081ec33a3f65de","8268b3f83fd9eeeb","62e4e61c86e9eb1a","666ee05d89ce8b77"],"x":34,"y":999,"w":1312,"h":362},{"id":"98a8fa8cee37b91b","type":"group","z":"e8973878b3c860e9","name":"","style":{"stroke":"#92d04f","label":true,"fill":"#000000","fill-opacity":"0.94"},"nodes":["428d7c7ca88db95f","58d3301b4c25434d","7e59a97301151061","64686713c0badd6c","678225185446b997","6eb589c52dfc7c9d","20843ba32e0476ec","6d771a34678dd62a","c20bd98423bb96ac","a18f9496c1d56562","eb8c065e8b41d126","6a517a488a2a87d8","86dc89d21e5d48a5","6e4937d9ae35620e","341809a58e286980","b4245af7c7e82e01"],"x":34,"y":19,"w":1312,"h":322},{"id":"63ef281e0f2ff70a","type":"group","z":"e8973878b3c860e9","name":"","style":{"fill":"none","label":true,"stroke":"#0070c0"},"nodes":["516db024f1f04224","cfc671e4a43c6e33","6895659f24f078c5","6225fc8cc53b1ef5","3ec535f8f25ac342","39e1324496a8ddf4","b04e34463fe25bc3","b5dff1abce356bb6","532dbdcb1cb83057"],"x":24,"y":799,"w":1322,"h":182},{"id":"ee63642d5b3f96c7","type":"group","z":"e8973878b3c860e9","name":"","style":{"stroke":"#0070c0","label":true,"fill":"none","fill-opacity":"0.9"},"nodes":["d4499623d60d7d25","33ba1ff1ba1eab87","0830976c997e8bd4","d51f1c98bf10cb73","92a507f5791af3a0","266a8e4188051890","17be92bad4fa947b"],"x":474,"y":1399,"w":872,"h":362},{"id":"fc3450a.c480bb","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"e8ec76a566ddfb1a","type":"ha-entity-config","server":"548a408d.14f22","deviceConfig":"","name":"Strømpris støtte","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Strømpris støtte"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"1adcd9d742d5b658","type":"ha-entity-config","server":"548a408d.14f22","deviceConfig":"","name":"Strømpris effektiv","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Strømpris effektiv"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"f22668aa573dfa90","type":"ha-entity-config","server":"548a408d.14f22","deviceConfig":"","name":"Strømpris støtte denne time","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Strømpris støtte denne time"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"939b2c2e962ba7a3","type":"ha-entity-config","server":"548a408d.14f22","deviceConfig":"","name":"Strømpris effektiv denne time","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Strømpris effektiv denne time"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"3bb5ad11c8c5da5a","type":"ha-entity-config","server":"548a408d.14f22","deviceConfig":"","name":"Strømpris nettleie","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Strømpris nettleie"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"8a294585ae707fdd","type":"ha-entity-config","server":"548a408d.14f22","deviceConfig":"","name":"Strømpris nettleie denne time","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Strømpris nettleie denne time"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"548a408d.14f22","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"c16c3a98adb7bb41","type":"ha-entity-config","server":"548a408d.14f22","deviceConfig":"","name":"Strømpris Nordpool","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Strømpris Nordpool"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"22fe4db603f1be9d","type":"ha-entity-config","server":"548a408d.14f22","deviceConfig":"","name":"Strømpris Nordpool denne time","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Strømpris Nordpool denne time"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"9da2acfb4a624041","type":"ha-entity-config","server":"548a408d.14f22","deviceConfig":"","name":"Powersaver Payload","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Powersaver Payload"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"428d7c7ca88db95f","type":"ps-receive-price","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"Priser ink. MVA","x":1160,"y":60,"wires":[["6a517a488a2a87d8"]]},{"id":"4a8aac6bd784a48d","type":"ps-general-add-tariff","z":"e8973878b3c860e9","g":"cf5a765f708c1dbd","name":"Nettleie uke (verdi i kroner)","periods":[{"start":"06","value":"0,5075"},{"start":"22","value":"0,3875"}],"validFrom":"","validTo":"","days":{"Mon":true,"Tue":true,"Wed":true,"Thu":true,"Fri":true,"Sat":false,"Sun":false},"x":260,"y":1260,"wires":[["d0e5c51b2184d29c"]]},{"id":"d0e5c51b2184d29c","type":"ps-general-add-tariff","z":"e8973878b3c860e9","g":"cf5a765f708c1dbd","name":"Nettleie helg (verdi i kroner)","periods":[{"start":"22","value":"0,5075"},{"start":"06","value":"0,3875"}],"validFrom":"","validTo":"","days":{"Mon":false,"Tue":false,"Wed":false,"Thu":false,"Fri":false,"Sat":true,"Sun":true},"x":260,"y":1320,"wires":[["282f6ebc5e09229a","d4499623d60d7d25"]]},{"id":"e709948d1a37ee72","type":"ps-general-add-tariff","z":"e8973878b3c860e9","g":"cf5a765f708c1dbd","name":"Påslag (verdi i kroner)","periods":[{"start":"22","value":"0,02"},{"start":"06","value":"0,02"}],"validFrom":"","validTo":"","days":{"Mon":true,"Tue":true,"Wed":true,"Thu":true,"Fri":true,"Sat":true,"Sun":true},"x":240,"y":1200,"wires":[["4a8aac6bd784a48d"]]},{"id":"89776deda2d39d26","type":"function","z":"e8973878b3c860e9","g":"d2392c17027ce3a7","name":"Nullstill timepriser","func":"msg.payload.priceData.forEach(function (hour) {\n    hour.value = 0;\n});\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":620,"wires":[["faad74cd38b0a57e"]],"icon":"node-red-contrib-calc/calculator.png"},{"id":"516db024f1f04224","type":"ha-sensor","z":"e8973878b3c860e9","g":"63ef281e0f2ff70a","name":"Strømpris støtte","entityConfig":"e8ec76a566ddfb1a","version":0,"state":"payload","stateType":"str","attributes":[{"property":"Hours","value":"payload.hours","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":700,"y":920,"wires":[["6895659f24f078c5"]]},{"id":"282f6ebc5e09229a","type":"function","z":"e8973878b3c860e9","g":"cf5a765f708c1dbd","name":"List alle timer","func":"let priceData = msg.payload.priceData;\nlet hours = [];\n\n// Iterer over hvert element i priceData og legg det til i hours-listen\npriceData.forEach(hourData => {\n    // Opprett et objekt med starttid og pris\n    let hourObj = {\n        start: hourData.start, // Bruker starttiden\n        price: hourData.value  // Prisen\n    };\n\n    // Legg til objektet i hours-listen\n    hours.push(hourObj);\n});\n\n// Oppdater meldingen slik at hours er direkte under msg.payload\nmsg.payload = { hours: hours };\n\n// Returner den oppdaterte meldingen\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1320,"wires":[["ad56133b59b7ae48"]]},{"id":"ad56133b59b7ae48","type":"ha-sensor","z":"e8973878b3c860e9","g":"cf5a765f708c1dbd","name":"Strømpris effektiv","entityConfig":"1adcd9d742d5b658","version":0,"state":"payload","stateType":"str","attributes":[{"property":"Hours","value":"payload.hours","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":710,"y":1320,"wires":[["78f5fd3ca8721149"]]},{"id":"cfc671e4a43c6e33","type":"function","z":"e8973878b3c860e9","g":"63ef281e0f2ff70a","name":"List alle timer","func":"let priceData = msg.payload.priceData;\nlet hours = [];\n\n// Iterer over hvert element i priceData og legg det til i hours-listen\npriceData.forEach(hourData => {\n    // Opprett et objekt med starttid og pris\n    let hourObj = {\n        start: hourData.start, // Bruker starttiden\n        price: hourData.value  // Prisen\n    };\n\n    // Legg til objektet i hours-listen\n    hours.push(hourObj);\n});\n\n// Oppdater meldingen slik at hours er direkte under msg.payload\nmsg.payload = { hours: hours };\n\n// Returner den oppdaterte meldingen\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":920,"wires":[["516db024f1f04224"]]},{"id":"6895659f24f078c5","type":"function","z":"e8973878b3c860e9","g":"63ef281e0f2ff70a","name":"Hent tid og pris","func":"// Hent nåværende tidspunkt og konverter til tekst.\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\nvar lokal_tid = hh + \":00:00\";\nvar pris = null;\nvar tidspunkt = null;\n\n// Lag en teller og sett den til null\nvar count = 0;\n\nfor (let i of msg.payload.hours) {\n    if (count < 24) {\n        i.timestamp = new Date(i.start).toLocaleTimeString('DE');\n        // Sett prisen til 4 desimaler og konverter tilbake til et tall\n        i.price = parseFloat(i.price.toFixed(4));\n        if (i.timestamp === lokal_tid) {\n            pris = i.price;\n            tidspunkt = i.timestamp;\n        }\n        count++;\n    } else {\n        break;\n    }\n}\n\nif (pris !== null) {\n    var current_saving = {\n        \"pris\": pris,\n        \"time\": tidspunkt\n    };\n    msg.payload = current_saving;\n} else {\n    return null;\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":920,"wires":[["6225fc8cc53b1ef5"]]},{"id":"6225fc8cc53b1ef5","type":"ha-sensor","z":"e8973878b3c860e9","g":"63ef281e0f2ff70a","name":"Strømpris støtte denne time","entityConfig":"f22668aa573dfa90","version":0,"state":"payload.pris","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1200,"y":920,"wires":[[]]},{"id":"78f5fd3ca8721149","type":"function","z":"e8973878b3c860e9","g":"cf5a765f708c1dbd","name":"Hent tid og pris","func":"// Hent nåværende tidspunkt og konverter til tekst.\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\nvar lokal_tid = hh + \":00:00\";\nvar pris = null;\nvar tidspunkt = null;\n\n// Lag en teller og sett den til null\nvar count = 0;\n\nfor (let i of msg.payload.hours) {\n    if (count < 24) {\n        i.timestamp = new Date(i.start).toLocaleTimeString('DE');\n        // Sett prisen til 4 desimaler og konverter tilbake til et tall\n        i.price = parseFloat(i.price.toFixed(4));\n        if (i.timestamp === lokal_tid) {\n            pris = i.price;\n            tidspunkt = i.timestamp;\n        }\n        count++;\n    } else {\n        break;\n    }\n}\n\nif (pris !== null) {\n    var current_saving = {\n        \"pris\": pris,\n        \"time\": tidspunkt\n    };\n    msg.payload = current_saving;\n} else {\n    return null;\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1320,"wires":[["f12b9037e46bd0a5"]]},{"id":"f12b9037e46bd0a5","type":"ha-sensor","z":"e8973878b3c860e9","g":"cf5a765f708c1dbd","name":"Strømpris effektiv denne time","entityConfig":"939b2c2e962ba7a3","version":0,"state":"payload.pris","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1200,"y":1320,"wires":[[]]},{"id":"faad74cd38b0a57e","type":"ps-general-add-tariff","z":"e8973878b3c860e9","g":"d2392c17027ce3a7","name":"Nettleie uke (verdi i kroner)","periods":[{"start":"22","value":"0,4444"},{"start":"06","value":"0,5555"}],"validFrom":"","validTo":"","days":{"Mon":true,"Tue":true,"Wed":true,"Thu":true,"Fri":true,"Sat":false,"Sun":false},"x":250,"y":680,"wires":[["fb93eb8a142ed051"]]},{"id":"fb93eb8a142ed051","type":"ps-general-add-tariff","z":"e8973878b3c860e9","g":"d2392c17027ce3a7","name":"Nettleie helg (verdi i kroner)","periods":[{"start":"22","value":"0,4444"},{"start":"06","value":"0,4444"}],"validFrom":"","validTo":"","days":{"Mon":false,"Tue":false,"Wed":false,"Thu":false,"Fri":false,"Sat":true,"Sun":true},"x":260,"y":740,"wires":[["774e2c31df59e76d"]]},{"id":"f060bf67fcd35c9e","type":"ha-sensor","z":"e8973878b3c860e9","g":"d2392c17027ce3a7","name":"Strømpris nettleie","entityConfig":"3bb5ad11c8c5da5a","version":0,"state":"payload","stateType":"str","attributes":[{"property":"Hours","value":"payload.hours","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":720,"y":740,"wires":[["f6c6ab4571862c91"]]},{"id":"774e2c31df59e76d","type":"function","z":"e8973878b3c860e9","g":"d2392c17027ce3a7","name":"List alle timer","func":"let priceData = msg.payload.priceData;\nlet hours = [];\n\n// Iterer over hvert element i priceData og legg det til i hours-listen\npriceData.forEach(hourData => {\n    // Opprett et objekt med starttid og pris\n    let hourObj = {\n        start: hourData.start, // Bruker starttiden\n        price: hourData.value  // Prisen\n    };\n\n    // Legg til objektet i hours-listen\n    hours.push(hourObj);\n});\n\n// Oppdater meldingen slik at hours er direkte under msg.payload\nmsg.payload = { hours: hours };\n\n// Returner den oppdaterte meldingen\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":740,"wires":[["f060bf67fcd35c9e"]]},{"id":"f6c6ab4571862c91","type":"function","z":"e8973878b3c860e9","g":"d2392c17027ce3a7","name":"Hent tid og pris","func":"// Hent nåværende tidspunkt og konverter til tekst.\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\nvar lokal_tid = hh + \":00:00\";\nvar pris = null;\nvar tidspunkt = null;\n\n// Lag en teller og sett den til null\nvar count = 0;\n\nfor (let i of msg.payload.hours) {\n    if (count < 24) {\n        i.timestamp = new Date(i.start).toLocaleTimeString('DE');\n        // Sett prisen til 4 desimaler og konverter tilbake til et tall\n        i.price = parseFloat(i.price.toFixed(4));\n        if (i.timestamp === lokal_tid) {\n            pris = i.price;\n            tidspunkt = i.timestamp;\n        }\n        count++;\n    } else {\n        break;\n    }\n}\n\nif (pris !== null) {\n    var current_saving = {\n        \"pris\": pris,\n        \"time\": tidspunkt\n    };\n    msg.payload = current_saving;\n} else {\n    return null;\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":740,"wires":[["ad9dcbe3329323d2"]]},{"id":"ad9dcbe3329323d2","type":"ha-sensor","z":"e8973878b3c860e9","g":"d2392c17027ce3a7","name":"Strømpris nettleie denne time","entityConfig":"8a294585ae707fdd","version":0,"state":"payload.pris","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1200,"y":740,"wires":[[]]},{"id":"58d3301b4c25434d","type":"api-current-state","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"Stømsone","server":"548a408d.14f22","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.stromsoner","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":160,"wires":[["7e59a97301151061"]]},{"id":"7e59a97301151061","type":"switch","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"01","vt":"num"},{"t":"cont","v":"02","vt":"num"},{"t":"cont","v":"03","vt":"num"},{"t":"cont","v":"05","vt":"num"},{"t":"cont","v":"04","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":590,"y":180,"wires":[["64686713c0badd6c"],["678225185446b997"],["6eb589c52dfc7c9d"],["6d771a34678dd62a"],["20843ba32e0476ec"]]},{"id":"64686713c0badd6c","type":"api-current-state","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"Nordpool 01 Øst","server":"fc3450a.c480bb","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.nordpool_kwh_oslo_nok_3_10_025","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":60,"wires":[["428d7c7ca88db95f"]]},{"id":"678225185446b997","type":"api-current-state","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"Nordpool 02 Sør","server":"fc3450a.c480bb","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.nordpool_kwh_krsand_nok_3_10_025","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":120,"wires":[["428d7c7ca88db95f"]]},{"id":"6eb589c52dfc7c9d","type":"api-current-state","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"Nordpool 03 Midt","server":"548a408d.14f22","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.nordpool_kwh_trheim_nok_3_10_025","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":180,"wires":[["428d7c7ca88db95f"]]},{"id":"20843ba32e0476ec","type":"api-current-state","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"Nordpool 04 Nord","server":"548a408d.14f22","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.nordpool_kwh_tromso_nok_3_10_025","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":870,"y":300,"wires":[["eb8c065e8b41d126"]]},{"id":"6d771a34678dd62a","type":"api-current-state","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"Nordpool 05 Vest","server":"548a408d.14f22","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.nordpool_kwh_bergen_nok_3_10_025","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":870,"y":240,"wires":[["428d7c7ca88db95f"]]},{"id":"c20bd98423bb96ac","type":"server-state-changed","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"Endring sone","server":"548a408d.14f22","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_select.stromsoner","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":220,"wires":[["58d3301b4c25434d"]]},{"id":"a18f9496c1d56562","type":"server-state-changed","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"Oppdater","server":"548a408d.14f22","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_button.oppdater_strompriser_fra_node_red","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":280,"wires":[["58d3301b4c25434d"]]},{"id":"3ec535f8f25ac342","type":"function","z":"e8973878b3c860e9","g":"63ef281e0f2ff70a","name":"Strømstøtte med MVA","func":"msg.payload.priceData.forEach(function (hour) {\n    if (hour.value > 0.9125) {\n        hour.value = ((hour.value - 0.9125) * 0.9);\n    }\n    else {\n        hour.value = 0.00;\n    }\n});\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":900,"wires":[["cfc671e4a43c6e33"]],"icon":"node-red-contrib-calc/calculator.png"},{"id":"eb8c065e8b41d126","type":"ps-receive-price","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"Priser eks. MVA","x":1160,"y":300,"wires":[["86dc89d21e5d48a5"]]},{"id":"39e1324496a8ddf4","type":"function","z":"e8973878b3c860e9","g":"63ef281e0f2ff70a","name":"Strømstøtte uten MVA","func":"msg.payload.priceData.forEach(function (hour) {\n    if (hour.value > 0.73) {\n        hour.value = ((hour.value - 0.73) * 0.9);\n    }\n    else {\n        hour.value = 0.00;\n    }\n});\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":940,"wires":[["cfc671e4a43c6e33"]],"icon":"node-red-contrib-calc/calculator.png"},{"id":"6a517a488a2a87d8","type":"link out","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"link out 1","mode":"link","links":["5c3f1b5920bfdfdc","602c26d54f8674d8","b5dff1abce356bb6","614930a497ab26ef","49e8bd32bdbac701"],"x":1305,"y":60,"wires":[]},{"id":"86dc89d21e5d48a5","type":"link out","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"link out 2","mode":"link","links":["5c3f1b5920bfdfdc","602c26d54f8674d8","532dbdcb1cb83057","8268b3f83fd9eeeb","9f425e3231b7aaa5"],"x":1305,"y":300,"wires":[]},{"id":"602c26d54f8674d8","type":"link in","z":"e8973878b3c860e9","g":"d2392c17027ce3a7","name":"link in 2","links":["6a517a488a2a87d8","86dc89d21e5d48a5","6cc6ea0b85e2b4a7","75d7af53b850d778"],"x":85,"y":620,"wires":[["89776deda2d39d26"]]},{"id":"fd9122da25f00139","type":"comment","z":"e8973878b3c860e9","g":"89874c9f719acdcc","name":"Videresender priser uten endring til Home Assistant","info":"","x":250,"y":400,"wires":[]},{"id":"e1017805989b109a","type":"comment","z":"e8973878b3c860e9","g":"d2392c17027ce3a7","name":"Beregner og videresender nettleie til Home Assistant","info":"","x":250,"y":560,"wires":[]},{"id":"b04e34463fe25bc3","type":"comment","z":"e8973878b3c860e9","g":"63ef281e0f2ff70a","name":"Beregner og videresender strømstøtte til Home Assistant","info":"","x":260,"y":840,"wires":[]},{"id":"b5dff1abce356bb6","type":"link in","z":"e8973878b3c860e9","g":"63ef281e0f2ff70a","name":"link in 3","links":["6a517a488a2a87d8","6cc6ea0b85e2b4a7"],"x":85,"y":900,"wires":[["3ec535f8f25ac342"]]},{"id":"532dbdcb1cb83057","type":"link in","z":"e8973878b3c860e9","g":"63ef281e0f2ff70a","name":"link in 4","links":["86dc89d21e5d48a5","75d7af53b850d778"],"x":85,"y":940,"wires":[["39e1324496a8ddf4"]]},{"id":"614930a497ab26ef","type":"link in","z":"e8973878b3c860e9","g":"cf5a765f708c1dbd","name":"link in 5","links":["6a517a488a2a87d8","6cc6ea0b85e2b4a7"],"x":85,"y":1100,"wires":[["62e4e61c86e9eb1a"]]},{"id":"8b3fdaee2f8e7cad","type":"ha-sensor","z":"e8973878b3c860e9","g":"89874c9f719acdcc","name":"Strømpris Nordpool","entityConfig":"c16c3a98adb7bb41","version":0,"state":"payload","stateType":"str","attributes":[{"property":"Hours","value":"payload.hours","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":720,"y":460,"wires":[["19d912fb4309277a"]]},{"id":"40a89595f1177377","type":"function","z":"e8973878b3c860e9","g":"89874c9f719acdcc","name":"List alle timer","func":"let priceData = msg.payload.priceData;\nlet hours = [];\n\n// Iterer over hvert element i priceData og legg det til i hours-listen\npriceData.forEach(hourData => {\n    // Opprett et objekt med starttid og pris\n    let hourObj = {\n        start: hourData.start, // Bruker starttiden\n        price: hourData.value  // Prisen\n    };\n\n    // Legg til objektet i hours-listen\n    hours.push(hourObj);\n});\n\n// Oppdater meldingen slik at hours er direkte under msg.payload\nmsg.payload = { hours: hours };\n\n// Returner den oppdaterte meldingen\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":460,"wires":[["8b3fdaee2f8e7cad"]]},{"id":"19d912fb4309277a","type":"function","z":"e8973878b3c860e9","g":"89874c9f719acdcc","name":"Hent tid og pris","func":"// Hent nåværende tidspunkt og konverter til tekst.\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\nvar lokal_tid = hh + \":00:00\";\nvar pris = null;\nvar tidspunkt = null;\n\n// Lag en teller og sett den til null\nvar count = 0;\n\nfor (let i of msg.payload.hours) {\n    if (count < 24) {\n        i.timestamp = new Date(i.start).toLocaleTimeString('DE');\n        // Sett prisen til 4 desimaler og konverter tilbake til et tall\n        i.price = parseFloat(i.price.toFixed(4));\n        if (i.timestamp === lokal_tid) {\n            pris = i.price;\n            tidspunkt = i.timestamp;\n        }\n        count++;\n    } else {\n        break;\n    }\n}\n\nif (pris !== null) {\n    var current_saving = {\n        \"pris\": pris,\n        \"time\": tidspunkt\n    };\n    msg.payload = current_saving;\n} else {\n    return null;\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":460,"wires":[["a9c532ad1e08adcb"]]},{"id":"a9c532ad1e08adcb","type":"ha-sensor","z":"e8973878b3c860e9","g":"89874c9f719acdcc","name":"Strømpris Nordpool denne time","entityConfig":"22fe4db603f1be9d","version":0,"state":"payload.pris","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1190,"y":460,"wires":[[]]},{"id":"5c3f1b5920bfdfdc","type":"link in","z":"e8973878b3c860e9","g":"89874c9f719acdcc","name":"link in 1","links":["6a517a488a2a87d8","86dc89d21e5d48a5","6cc6ea0b85e2b4a7","75d7af53b850d778"],"x":85,"y":460,"wires":[["40a89595f1177377"]]},{"id":"ec081ec33a3f65de","type":"comment","z":"e8973878b3c860e9","g":"cf5a765f708c1dbd","name":"Beregner effektiv strømpris og videresender til Home Assistant","info":"","x":280,"y":1040,"wires":[]},{"id":"6e4937d9ae35620e","type":"comment","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"Henter priser fra Nordpool sensor etter valgt strømsone","info":"","x":270,"y":60,"wires":[]},{"id":"341809a58e286980","type":"comment","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"Prisene blir deretter viderebehandlet i de øvrige gruppene","info":"","x":270,"y":100,"wires":[]},{"id":"8268b3f83fd9eeeb","type":"link in","z":"e8973878b3c860e9","g":"cf5a765f708c1dbd","name":"link in 6","links":["86dc89d21e5d48a5","75d7af53b850d778"],"x":85,"y":1140,"wires":[["666ee05d89ce8b77"]]},{"id":"62e4e61c86e9eb1a","type":"function","z":"e8973878b3c860e9","g":"cf5a765f708c1dbd","name":"Trekk fra strømstøtte med MVA","func":"msg.payload.priceData.forEach(function (hour) {\n    if (hour.value > 0.9125) {\n        hour.value = hour.value - ((hour.value - 0.9125) * 0.9);\n    }\n    else {\n        hour.value = hour.value;\n    }\n});\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":1100,"wires":[["e709948d1a37ee72"]],"icon":"font-awesome/fa-minus"},{"id":"666ee05d89ce8b77","type":"function","z":"e8973878b3c860e9","g":"cf5a765f708c1dbd","name":"Trekk fra strømstøtte uten MVA","func":"msg.payload.priceData.forEach(function (hour) {\n    if (hour.value > 0.73) {\n        hour.value = hour.value - ((hour.value - 0.73) * 0.9);\n    }\n    else {\n        hour.value = hour.value;\n    }\n});\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":1140,"wires":[["e709948d1a37ee72"]],"icon":"font-awesome/fa-minus"},{"id":"b4245af7c7e82e01","type":"cronplus","z":"e8973878b3c860e9","g":"98a8fa8cee37b91b","name":"Loop 10 min","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"cron","expression":"1-59/10 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":150,"y":160,"wires":[["58d3301b4c25434d"]]},{"id":"d4499623d60d7d25","type":"ps-strategy-lowest-price","z":"e8973878b3c860e9","g":"ee63642d5b3f96c7","name":"Laveste pris - 6 timer/døgn","fromTime":"00","toTime":"00","hoursOn":"1","maxPrice":"","doNotSplit":false,"sendCurrentValueWhenRescheduling":true,"outputValueForOn":"true","outputValueForOff":"false","outputValueForOntype":"bool","outputValueForOfftype":"bool","outputIfNoSchedule":"true","outputOutsidePeriod":"true","contextStorage":"memory","x":620,"y":1520,"wires":[["266a8e4188051890"],["17be92bad4fa947b"],["92a507f5791af3a0"]]},{"id":"33ba1ff1ba1eab87","type":"ha-sensor","z":"e8973878b3c860e9","g":"ee63642d5b3f96c7","name":"Powersaver Payload","entityConfig":"9da2acfb4a624041","version":0,"state":"payload","stateType":"str","attributes":[{"property":"Schedule","value":"payload.schedule","valueType":"msg"},{"property":"Hours","value":"payload.hours","valueType":"msg"},{"property":"Control","value":"payload.hours[0].onOff","valueType":"str"},{"property":"Current","value":"payload.current","valueType":"str"}],"inputOverride":"allow","outputProperties":[],"x":1220,"y":1720,"wires":[[]]},{"id":"0830976c997e8bd4","type":"comment","z":"e8973878b3c860e9","g":"ee63642d5b3f96c7","name":"Sender AV/PÅ verdier for powersaver til Home Assistant","info":"","x":1060,"y":1660,"wires":[]},{"id":"d51f1c98bf10cb73","type":"comment","z":"e8973878b3c860e9","g":"ee63642d5b3f96c7","name":"Slår av og på enheter i Home Assistant","info":"","x":650,"y":1440,"wires":[]},{"id":"92a507f5791af3a0","type":"function","z":"e8973878b3c860e9","g":"ee63642d5b3f96c7","name":"Konverter til 1/0 for AV/PÅ","func":"msg.payload.hours.forEach(h => h.onOff = h.onOff ? \"1\" : \"0\")\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1720,"wires":[["33ba1ff1ba1eab87"]]},{"id":"266a8e4188051890","type":"api-call-service","z":"e8973878b3c860e9","g":"ee63642d5b3f96c7","name":"Turn on","server":"548a408d.14f22","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.powersaver"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":1500,"wires":[[]]},{"id":"17be92bad4fa947b","type":"api-call-service","z":"e8973878b3c860e9","g":"ee63642d5b3f96c7","name":"Turn off","server":"548a408d.14f22","version":5,"debugenabled":true,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.powersaver"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":1560,"wires":[[]]}]